#include <stdlib.h>
/* Include the user-specified modules */
{{#module}}
#include <{{.}}.h>
{{/module}}

/**
 * This parser was generated automaticlally by parsegen.py. 
 */

/*****************************************************************************
 *                          Forward Declarations                             *
 ****************************************************************************/
{{^options.notypes}}
typedef struct Par_Node_ Par_Node;
{{/options.notypes}}

{{#production}}
static Par_Node* {{name}}();
{{/production}}

/*****************************************************************************
 *                            Helper Methods                                 *
 ****************************************************************************/
static Lex_Token* eatTerminal(Lex_TokenType type) {

	if (Lex_peekNextToken()->type == type)
		return Lex_getNextToken();
	else
		return NULL;
}

/*****************************************************************************
 *                             Productions                                   *
 ****************************************************************************/
{{#nonterm}}
static Par_Node* {{name}}() {
	switch (Lex_peekNextToken()->type) {
	{{#production}}
	{{#prediction}}
	case {{.}}:
	{{/prediction}}
	{{^prediction}}
		// lambda transition
	{{/prediction}}
		{{#expansion}}
		{{#term}}
		eatTerminal({{token}});
		{{/term}}
		{{^term}}
		eat non terminal {{token}}
		{{/term}}
		{{/expansion}}
		break;
	{{/production}}
	default:
	{{#nullable}}
		return NULL;
	{{/nullable}}
	{{^nullable}}
		fprintf(stderr, "Expecting {{#first}}{{.}}, {{/first}}but found \n");
	{{/nullable}}
	}
}

{{/nonterm}}

/*****************************************************************************
 *                           User Code Section                               *
 ****************************************************************************/
{{#code}}
{{.}}
{{/code}}
